.container {
    font-family: monospace;
}

td {
    padding: 0.3em;
    vertical-align: top;
}

td.key {
    font-weight: bold;
}

tr.debug td {
    color: grey;
}

tr.last td.value {
    border-bottom: 1px solid green;
    padding-bottom: 1em;
}

tr.entry td {
    padding-top: 1.5em;
}

input#message {
    width: 40em;
    padding: 0.5em;
    border: 1px solid green;
}

button {
    padding: 0.5em;
}
