<html>
<head>
    <title>SAM</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>SAM through API.AI + Google Translate</h1>
        <form action="{{ url_for('send_message') }}" method="post">
            <table>
                <tr>
                    <td class="key"><label for="message">Co chcete říci (česky)?</label></td>
                    <td><input id="message" name="message"/></td>
                </tr>
                <tr class="last">
                    <td></td>
                    <td class="value"><button type="submit">Send message</button></td>
                </tr>
                {% for step in conversation %}
                    <tr>
                        <td class="key">You said:</td>
                        <td class="value">{{ step['user_message'] }}</td>
                    </tr>
                    <tr>
                        <td class="key">Translation:</td>
                        <td class="value">{{ step['translation'] }}</td>
                    </tr>
                    <tr>
                        <td class="key">SAM replied:</td>
                        <td class="value">
                            {% for reply in step['ai_messages'] %}
                                {{ reply }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr class="debug">
                        <td class="key">Intent:</td>
                        <td class="value">{{ step['ai_intent'] }}</td>
                    </tr>
                    <tr class="debug last">
                        <td class="key">Contexts:</td>
                        <td class="value">
                            {% for context in step['ai_contexts'] %}
                                {{ context }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </form>
        <a href="{{ url_for('reset') }}">Reset conversation</a>
    </div>

    <script language="JavaScript">
        window.onload = function () {
            document.getElementById("message").focus();
        }
    </script>
</body>
</html>
